<!DOCTYPE html>
<html>
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/dojo/1.6.1/dojo/dojo.xd.js" type="text/javascript"></script>
    <title>test</title>
    <script>
        dojo.require('dojo.io.iframe');
        dojo.require('dojox.form.FileInput');

        dojo.addOnLoad(function(){
            dojo.connect(dojo.byId('ajax'),'onclick',function(e){
                dojo.io.iframe.send({form:'form',handleAs:'json'})
                .then(function(data){console.log(data.success,data.errors)
                            if (data.img){
                                setTimeout(function(){
                                    dojo.create('img',{src:'/static/img/'+data.img+'.jpg'},'olo');
                                },1000)

                            }
                        },
                function(){console.log("error'ульки")})
            });
        });
    </script>

</head>
<body>
<form enctype="multipart/form-data" action="./" method="POST" id='form'>
{{ form }}
{#<button type="submit">submit</button>#}
    </form>

<span id='ajax' style='border:1px black solid;'>SEND AJAX</span>
<div id='olo'></div>
</body>
</html>